<a href="https://colab.research.google.com/github/mengphilshen/final-project-GoHawaii/blob/main/Airbnb_Hawaii.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

# Data Import

In [ ]:
# import modules
import pandas as pd

In [ ]:
# mount Google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Helper Function

In [ ]:
# define strPrice_to_numPrice function
def strPrice_to_numPrice(price_string):
    '''
    Converts USD prices from string to numeric format
    
    Args:
        price_string (string): USD price in string format (e.g., '$123,456.00')
    
    Returns:
        price_numeric (float): USD price in numeric format (e.g., 123456.00)
    '''
    
    price_numeric = float(str(price_string).replace(',', '').split('$')[-1])
    return price_numeric

## Hawaii Listing Dataset

In [ ]:
# load Hawaii_listings_summary dataset
listings_summary0 = pd.read_csv("/content/drive/My Drive/CIS550_Project/Data/Airbnb_Hawaii/Hawaii_listings_summary.csv")

In [ ]:
listings_summary0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22717 entries, 0 to 22716
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              22717 non-null  int64
 1   name                            22717 non-null  object
 2   host_id                         22717 non-null  int64
 3   host_name                       22715 non-null  object
 4   neighbourhood_group             22717 non-null  object
 5   neighbourhood                   22717 non-null  object
 6   latitude                        22717 non-null  float64
 7   longitude                       22717 non-null  float64
 8   room_type                       22717 non-null  object
 9   price                           22717 non-null  int64
 10  minimum_nights                  22717 non-null  int64
 11  number_of_reviews               22717 non-null  int64
 12  last_review                     17077 non-null  object
 13  reviews_per_month               17077 non-null  float64
 14  calculated_host_listings_count  22717 non-null  int64
 15  availability_365                22717 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.8+ MB

In [ ]:
listings_summary0.head()

     id  ... availability_365
0  5065  ...              365
1  5269  ...              244
2  5387  ...              225
3  5389  ...              298
4  5390  ...              119

[5 rows x 16 columns]

In [ ]:
# load Hawaii_listings dataset
listings0 = pd.read_csv("/content/drive/My Drive/CIS550_Project/Data/Airbnb_Hawaii/Hawaii_listings1.csv")

In [ ]:
listings0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22717 entries, 0 to 22716
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            22717 non-null  int64
 1   listing_url                                   22717 non-null  object
 2   scrape_id                                     22717 non-null  float64
 3   last_scraped                                  22717 non-null  object
 4   name                                          22717 non-null  object
 5   description                                   22367 non-null  object
 6   neighborhood_overview                         13213 non-null  object
 7   picture_url                                   22717 non-null  object
 8   host_id                                       22717 non-null  int64
 9   host_url                                      22717 non-null  object
 10  host_name                                     22715 non-null  object
 11  host_since                                    22715 non-null  object
 12  host_location                                 22687 non-null  object
 13  host_about                                    16573 non-null  object
 14  host_response_time                            19702 non-null  object
 15  host_response_rate                            19702 non-null  object
 16  host_acceptance_rate                          21587 non-null  object
 17  host_is_superhost                             22715 non-null  object
 18  host_thumbnail_url                            22715 non-null  object
 19  host_picture_url                              22715 non-null  object
 20  host_neighbourhood                            18876 non-null  object
 21  host_listings_count                           22715 non-null  float64
 22  host_total_listings_count                     22715 non-null  float64
 23  host_verifications                            22717 non-null  object
 24  host_has_profile_pic                          22715 non-null  object
 25  host_identity_verified                        22715 non-null  object
 26  neighbourhood                                 13213 non-null  object
 27  neighbourhood_cleansed                        22717 non-null  object
 28  neighbourhood_group_cleansed                  22717 non-null  object
 29  latitude                                      22717 non-null  float64
 30  longitude                                     22717 non-null  float64
 31  property_type                                 22717 non-null  object
 32  room_type                                     22717 non-null  object
 33  accommodates                                  22717 non-null  int64
 34  bathrooms                                     22704 non-null  object
 35  bathrooms_text                                22704 non-null  object
 36  bedrooms                                      19597 non-null  object
 37  bedrooms_text                                 19597 non-null  float64
 38  beds                                          22668 non-null  float64
 39  amenities                                     22717 non-null  object
 40  price                                         22717 non-null  object
 41  minimum_nights                                22717 non-null  int64
 42  maximum_nights                                22717 non-null  int64
 43  minimum_minimum_nights                        22717 non-null  int64
 44  maximum_minimum_nights                        22717 non-null  int64
 45  minimum_maximum_nights                        22717 non-null  int64
 46  maximum_maximum_nights                        22717 non-null  int64
 47  minimum_nights_avg_ntm                        22717 non-null  float64
 48  maximum_nights_avg_ntm                        22717 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              22717 non-null  object
 51  availability_30                               22717 non-null  int64
 52  availability_60                               22717 non-null  int64
 53  availability_90                               22717 non-null  int64
 54  availability_365                              22717 non-null  int64
 55  calendar_last_scraped                         22717 non-null  object
 56  number_of_reviews                             22717 non-null  int64
 57  number_of_reviews_ltm                         22717 non-null  int64
 58  number_of_reviews_l30d                        22717 non-null  int64
 59  first_review                                  17077 non-null  object
 60  last_review                                   17077 non-null  object
 61  review_scores_rating                          16921 non-null  float64
 62  review_scores_accuracy                        16912 non-null  float64
 63  review_scores_cleanliness                     16912 non-null  float64
 64  review_scores_checkin                         16908 non-null  float64
 65  review_scores_communication                   16911 non-null  float64
 66  review_scores_location                        16908 non-null  float64
 67  review_scores_value                           16908 non-null  float64
 68  license                                       12865 non-null  object
 69  instant_bookable                              22717 non-null  object
 70  calculated_host_listings_count                22717 non-null  int64
 71  calculated_host_listings_count_entire_homes   22717 non-null  int64
 72  calculated_host_listings_count_private_rooms  22717 non-null  int64
 73  calculated_host_listings_count_shared_rooms   22717 non-null  int64
 74  reviews_per_month                             17077 non-null  float64
dtypes: float64(18), int64(20), object(37)
memory usage: 13.0+ MB

In [ ]:
listings0.head()

     id  ... reviews_per_month
0  5065  ...              0.46
1  5269  ...              0.09
2  5387  ...              1.31
3  5389  ...              0.24
4  5390  ...              1.04

[5 rows x 75 columns]

In [ ]:
# check missing values
missing_listings = listings0.isnull().sum(axis = 0).reset_index()
missing_listings.columns = ['variable', 'missing values']
missing_listings['missing%'] = missing_listings['missing values'] / listings0.shape[0] * 100
missing_listings_srt = missing_listings.sort_values('missing%', ascending = False).reset_index(drop = True)
missing_listings_srt[missing_listings_srt['missing%'] > 0]

                       variable  missing values    missing%
0              calendar_updated           22717  100.000000
1                       license            9852   43.368403
2                 neighbourhood            9504   41.836510
3         neighborhood_overview            9504   41.836510
4                    host_about            6144   27.045825
5           review_scores_value            5809   25.571158
6        review_scores_location            5809   25.571158
7         review_scores_checkin            5809   25.571158
8   review_scores_communication            5806   25.557952
9     review_scores_cleanliness            5805   25.553550
10       review_scores_accuracy            5805   25.553550
11         review_scores_rating            5796   25.513932
12                  last_review            5640   24.827222
13                 first_review            5640   24.827222
14            reviews_per_month            5640   24.827222
15           host_neighbourhood            3841   16.908042
16                     bedrooms            3120   13.734208
17                bedrooms_text            3120   13.734208
18           host_response_time            3015   13.271999
19           host_response_rate            3015   13.271999
20         host_acceptance_rate            1130    4.974248
21                  description             350    1.540696
22                         beds              49    0.215697
23                host_location              30    0.132060
24               bathrooms_text              13    0.057226
25                    bathrooms              13    0.057226
26             host_picture_url               2    0.008804
27                   host_since               2    0.008804
28                    host_name               2    0.008804
29           host_thumbnail_url               2    0.008804
30         host_has_profile_pic               2    0.008804
31            host_is_superhost               2    0.008804
32          host_listings_count               2    0.008804
33       host_identity_verified               2    0.008804
34    host_total_listings_count               2    0.008804

In [ ]:
# keep relevant features
var_to_keep = ['id', 
               'listing_url', 
               'picture_url',
               'name',
               'description',
               'neighborhood_overview',
               'neighbourhood_cleansed',
               'neighbourhood_group_cleansed',
               'latitude',
               'longitude',
               'property_type',
               'room_type',
               'accommodates',
               'bathrooms',
               'bedrooms',
               'beds',
               'amenities',
               'price',
               'minimum_nights',
               'maximum_nights',
               'has_availability',
               'availability_30',
               'availability_60',
               'availability_90',
               'availability_365',
               'license',
               'instant_bookable',
               'number_of_reviews',
               'first_review',
               'last_review',
               'review_scores_rating',
               'review_scores_accuracy',
               'review_scores_cleanliness',
               'review_scores_checkin',
               'review_scores_communication',
               'review_scores_location',
               'review_scores_value',
               'reviews_per_month',
               'host_id',
               'host_url',
               'host_picture_url',
               'host_name',
               'host_since',
               'host_location',
               'host_about',
               'host_response_time',
               'host_response_rate',
               'host_acceptance_rate',
               'host_is_superhost',
               'calculated_host_listings_count',
               'host_verifications',
               'host_has_profile_pic',
               'host_identity_verified',                     
               'last_scraped']
listings1 = listings0[var_to_keep]
listings1['price'] = listings1['price'].apply(strPrice_to_numPrice)
listings1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22717 entries, 0 to 22716
Data columns (total 54 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              22717 non-null  int64
 1   listing_url                     22717 non-null  object
 2   picture_url                     22717 non-null  object
 3   name                            22717 non-null  object
 4   description                     22367 non-null  object
 5   neighborhood_overview           13213 non-null  object
 6   neighbourhood_cleansed          22717 non-null  object
 7   neighbourhood_group_cleansed    22717 non-null  object
 8   latitude                        22717 non-null  float64
 9   longitude                       22717 non-null  float64
 10  property_type                   22717 non-null  object
 11  room_type                       22717 non-null  object
 12  accommodates                    22717 non-null  int64
 13  bathrooms                       22704 non-null  object
 14  bedrooms                        19597 non-null  object
 15  beds                            22668 non-null  float64
 16  amenities                       22717 non-null  object
 17  price                           22717 non-null  float64
 18  minimum_nights                  22717 non-null  int64
 19  maximum_nights                  22717 non-null  int64
 20  has_availability                22717 non-null  object
 21  availability_30                 22717 non-null  int64
 22  availability_60                 22717 non-null  int64
 23  availability_90                 22717 non-null  int64
 24  availability_365                22717 non-null  int64
 25  license                         12865 non-null  object
 26  instant_bookable                22717 non-null  object
 27  number_of_reviews               22717 non-null  int64
 28  first_review                    17077 non-null  object
 29  last_review                     17077 non-null  object
 30  review_scores_rating            16921 non-null  float64
 31  review_scores_accuracy          16912 non-null  float64
 32  review_scores_cleanliness       16912 non-null  float64
 33  review_scores_checkin           16908 non-null  float64
 34  review_scores_communication     16911 non-null  float64
 35  review_scores_location          16908 non-null  float64
 36  review_scores_value             16908 non-null  float64
 37  reviews_per_month               17077 non-null  float64
 38  host_id                         22717 non-null  int64
 39  host_url                        22717 non-null  object
 40  host_picture_url                22715 non-null  object
 41  host_name                       22715 non-null  object
 42  host_since                      22715 non-null  object
 43  host_location                   22687 non-null  object
 44  host_about                      16573 non-null  object
 45  host_response_time              19702 non-null  object
 46  host_response_rate              19702 non-null  object
 47  host_acceptance_rate            21587 non-null  object
 48  host_is_superhost               22715 non-null  object
 49  calculated_host_listings_count  22717 non-null  int64
 50  host_verifications              22717 non-null  object
 51  host_has_profile_pic            22715 non-null  object
 52  host_identity_verified          22715 non-null  object
 53  last_scraped                    22717 non-null  object
dtypes: float64(12), int64(11), object(31)
memory usage: 9.4+ MB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
listings1.head()

     id                        listing_url  ... host_identity_verified last_scraped
0  5065  https://www.airbnb.com/rooms/5065  ...                      t     9/2/2020
1  5269  https://www.airbnb.com/rooms/5269  ...                      t     9/2/2020
2  5387  https://www.airbnb.com/rooms/5387  ...                      t     9/2/2020
3  5389  https://www.airbnb.com/rooms/5389  ...                      t     9/1/2020
4  5390  https://www.airbnb.com/rooms/5390  ...                      t     9/2/2020

[5 rows x 54 columns]

In [ ]:
# check neighborhood
listings1.groupby(['neighbourhood_group_cleansed', 'neighbourhood_cleansed']).size().reset_index()

   neighbourhood_group_cleansed neighbourhood_cleansed     0
0                        Hawaii                Hamakua    73
1                        Hawaii                    Kau   139
2                        Hawaii             North Hilo    58
3                        Hawaii           North Kohala    88
4                        Hawaii             North Kona  2069
5                        Hawaii                   Puna   913
6                        Hawaii             South Hilo   405
7                        Hawaii           South Kohala  1014
8                        Hawaii             South Kona   262
9                      Honolulu           Central Oahu    43
10                     Honolulu          East Honolulu   166
11                     Honolulu                    Ewa   427
12                     Honolulu              Koolauloa   419
13                     Honolulu             Koolaupoko   513
14                     Honolulu       North Shore Oahu   376
15                     Honolulu   Primary Urban Center  4275
16                     Honolulu                Waianae   251
17                        Kauai        Hanapepe-Eleele     1
18                        Kauai           Kapaa-Wailua   557
19                        Kauai            Koloa-Poipu  1171
20                        Kauai                  Lihue   242
21                        Kauai      North Shore Kauai  1307
22                        Kauai          Waimea-Kekaha    34
23                         Maui                   Hana    73
24                         Maui           Kihei-Makena  3903
25                         Maui                Lahaina  3486
26                         Maui                  Lanai     6
27                         Maui  Makawao-Pukalani-Kula    38
28                         Maui                Molokai   121
29                         Maui             Paia-Haiku   216
30                         Maui        Wailuku-Kahului    71

In [ ]:
# check property_type
cat = ['property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'has_availability', 'instant_bookable', 'host_is_superhost']
for col in cat:
    print("\n")
    print(col)
    print(listings1[col].value_counts())

property_type
Entire condominium                  11548
Entire house                         2865
Entire apartment                     2405
Private room in house                 699
Entire villa                          640
                                    ...
Tipi                                    1
Private room in timeshare               1
Shared room in hut                      1
Shared room in bed and breakfast        1
Room in apartment                       1
Name: property_type, Length: 86, dtype: int64


room_type
Entire home/apt    20257
Private room        2194
Hotel room           196
Shared room           70
Name: room_type, dtype: int64


accommodates
4     7897
6     4890
2     4501
8     1556
3     1392
5      942
10     452
7      268
1      237
12     190
16     143
14      90
9       84
11      40
15      20
13      13
0        2
Name: accommodates, dtype: int64


bathrooms
1      12012
2       6885
3       1297
2.5      771
1.5      542
>4       417
3.5      391
4        239
0        128
0.5       22
Name: bathrooms, dtype: int64


bedrooms
1     9429
2     6615
3     2363
4      728
>4     462
Name: bedrooms, dtype: int64


beds
2.0     7264
1.0     6107
3.0     4226
4.0     2790
5.0      805
0.0      645
6.0      396
7.0      149
8.0      128
9.0       58
10.0      26
11.0      18
12.0      14
13.0      10
14.0       9
16.0       9
15.0       3
18.0       3
22.0       2
17.0       2
20.0       2
38.0       1
25.0       1
Name: beds, dtype: int64


has_availability
t    22714
f        3
Name: has_availability, dtype: int64


instant_bookable
t    14645
f     8072
Name: instant_bookable, dtype: int64


host_is_superhost
f    13806
t     8909
Name: host_is_superhost, dtype: int64

In [ ]:
listings1.groupby(['bedrooms', 'bathrooms', 'instant_bookable', 'host_is_superhost']).size().reset_index()

    bedrooms bathrooms instant_bookable host_is_superhost    0
0          1         0                f                 f    9
1          1         0                f                 t    6
2          1         0                t                 f   10
3          1         0                t                 t   11
4          1       0.5                f                 f    3
..       ...       ...              ...               ...  ...
141       >4         4                t                 t   12
142       >4        >4                f                 f  109
143       >4        >4                f                 t   38
144       >4        >4                t                 f   78
145       >4        >4                t                 t   43

[146 rows x 5 columns]

In [ ]:
# export lists dataset
listings1.to_csv('/content/drive/My Drive/CIS550_Project/Data/listings1.csv', index=False, line_terminator='\n')

### Listing Sub-Table

In [ ]:
# create listing table
list_to_keep = ['id', 
               'listing_url', 
               'picture_url',
               'name',
               'description',
               'neighborhood_overview',
               'neighbourhood_cleansed',
               'neighbourhood_group_cleansed',
               'latitude',
               'longitude',
               'property_type',
               'room_type',
               'accommodates',
               'bathrooms_text',
               'bedrooms',
               'beds',
               'amenities',
               'price',
               'minimum_nights',
               'maximum_nights',
               'has_availability',
               'availability_30',
               'availability_60',
               'availability_90',
               'availability_365',
               'license',
               'instant_bookable']
list0 = listings1[list_to_keep]
list0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22717 entries, 0 to 22716
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            22717 non-null  int64
 1   listing_url                   22717 non-null  object
 2   picture_url                   22717 non-null  object
 3   name                          22717 non-null  object
 4   description                   22367 non-null  object
 5   neighborhood_overview         13213 non-null  object
 6   neighbourhood_cleansed        22717 non-null  object
 7   neighbourhood_group_cleansed  22717 non-null  object
 8   latitude                      22717 non-null  float64
 9   longitude                     22717 non-null  float64
 10  property_type                 22717 non-null  object
 11  room_type                     22717 non-null  object
 12  accommodates                  22717 non-null  int64
 13  bathrooms_text                22704 non-null  object
 14  bedrooms                      19597 non-null  float64
 15  beds                          22668 non-null  float64
 16  amenities                     22717 non-null  object
 17  price                         22717 non-null  object
 18  minimum_nights                22717 non-null  int64
 19  maximum_nights                22717 non-null  int64
 20  has_availability              22717 non-null  object
 21  availability_30               22717 non-null  int64
 22  availability_60               22717 non-null  int64
 23  availability_90               22717 non-null  int64
 24  availability_365              22717 non-null  int64
 25  license                       12865 non-null  object
 26  instant_bookable              22717 non-null  object
dtypes: float64(4), int64(8), object(15)
memory usage: 4.7+ MB

In [ ]:
list0.head()

     id                        listing_url  ... license instant_bookable
0  5065  https://www.airbnb.com/rooms/5065  ...     NaN                f
1  5269  https://www.airbnb.com/rooms/5269  ...     NaN                f
2  5387  https://www.airbnb.com/rooms/5387  ...     NaN                t
3  5389  https://www.airbnb.com/rooms/5389  ...     NaN                f
4  5390  https://www.airbnb.com/rooms/5390  ...     NaN                f

[5 rows x 27 columns]

In [ ]:
# check distict values
list0['id'].nunique()

22717

In [ ]:
# apply strPrice_to_numPrice function over monetary features
list1 = list0.copy()
list1['price'] = list1['price'].apply(strPrice_to_numPrice)
list1.head()

     id                        listing_url  ... license instant_bookable
0  5065  https://www.airbnb.com/rooms/5065  ...     NaN                f
1  5269  https://www.airbnb.com/rooms/5269  ...     NaN                f
2  5387  https://www.airbnb.com/rooms/5387  ...     NaN                t
3  5389  https://www.airbnb.com/rooms/5389  ...     NaN                f
4  5390  https://www.airbnb.com/rooms/5390  ...     NaN                f

[5 rows x 27 columns]

In [ ]:
list1['description'] = list1['description'].apply(lambda x: str(x).strip('\n').replace("\r","").replace("\n","").replace("<b>","").replace("<br>","")[:100])
list1['neighborhood_overview'] = list1['neighborhood_overview'].apply(lambda x: str(x).strip('\n').replace("\r","").replace("\n","")[:100])

In [ ]:
list1['amenities']  = list1['amenities'].apply(lambda x: str(x).strip('\n').replace("\r","").replace("\n","").replace('"','').replace('[','').replace(']','')[:100])

In [ ]:
list1 = list1.drop(['license',	'instant_bookable'], axis = 1)

KeyError: ignored

In [ ]:
list1.head()

     id                        listing_url  ... availability_90 availability_365
0  5065  https://www.airbnb.com/rooms/5065  ...              90              365
1  5269  https://www.airbnb.com/rooms/5269  ...               0              244
2  5387  https://www.airbnb.com/rooms/5387  ...               0              225
3  5389  https://www.airbnb.com/rooms/5389  ...              88              298
4  5390  https://www.airbnb.com/rooms/5390  ...              50              119

[5 rows x 25 columns]

In [ ]:
# export lists dataset
list1.to_csv('/content/drive/My Drive/CIS550_Project/Data/list1.csv', index=False, line_terminator='\n')

### Host Sub-Table

In [ ]:
# create host table
host_to_keep = ['id', 
               'name',              
               'host_id',
               'host_url',
               'host_picture_url',
               'host_name',
               'host_since',
               'host_location',
               'host_about',
               'host_response_time',
               'host_response_rate',
               'host_acceptance_rate',
               'host_is_superhost',
               'calculated_host_listings_count',
               'host_verifications',
               'host_has_profile_pic',
               'host_identity_verified']
host0 = listings0[host_to_keep]
host0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22717 entries, 0 to 22716
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              22717 non-null  int64
 1   name                            22717 non-null  object
 2   host_id                         22717 non-null  int64
 3   host_url                        22717 non-null  object
 4   host_picture_url                22715 non-null  object
 5   host_name                       22715 non-null  object
 6   host_since                      22715 non-null  object
 7   host_location                   22687 non-null  object
 8   host_about                      16573 non-null  object
 9   host_response_time              19702 non-null  object
 10  host_response_rate              19702 non-null  object
 11  host_acceptance_rate            21587 non-null  object
 12  host_is_superhost               22715 non-null  object
 13  calculated_host_listings_count  22717 non-null  int64
 14  host_verifications              22717 non-null  object
 15  host_has_profile_pic            22715 non-null  object
 16  host_identity_verified          22715 non-null  object
dtypes: int64(3), object(14)
memory usage: 2.9+ MB

In [ ]:
host0.head()

     id  ... host_identity_verified
0  5065  ...                      t
1  5269  ...                      t
2  5387  ...                      t
3  5389  ...                      t
4  5390  ...                      t

[5 rows x 17 columns]

In [ ]:
# check distict values
host0['id'].nunique()

22717

In [ ]:
# export hosts dataset
host0.to_csv('/content/drive/My Drive/CIS550_Project/Data/host0.csv', index=False)

### Score Sub-Table

In [ ]:
# keep relevant features
score_to_keep = ['id', 
               'name',
               'number_of_reviews',
               'first_review',
               'last_review',
               'review_scores_rating',
               'review_scores_accuracy',
               'review_scores_cleanliness',
               'review_scores_checkin',
               'review_scores_communication',
               'review_scores_location',
               'review_scores_value',
               'reviews_per_month']
score0 = listings0[score_to_keep]
score0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22717 entries, 0 to 22716
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           22717 non-null  int64
 1   name                         22717 non-null  object
 2   number_of_reviews            22717 non-null  int64
 3   first_review                 17077 non-null  object
 4   last_review                  17077 non-null  object
 5   review_scores_rating         16921 non-null  float64
 6   review_scores_accuracy       16912 non-null  float64
 7   review_scores_cleanliness    16912 non-null  float64
 8   review_scores_checkin        16908 non-null  float64
 9   review_scores_communication  16911 non-null  float64
 10  review_scores_location       16908 non-null  float64
 11  review_scores_value          16908 non-null  float64
 12  reviews_per_month            17077 non-null  float64
dtypes: float64(8), int64(2), object(3)
memory usage: 2.3+ MB

In [ ]:
score0.head()

     id  ... reviews_per_month
0  5065  ...              0.46
1  5269  ...              0.09
2  5387  ...              1.31
3  5389  ...              0.24
4  5390  ...              1.04

[5 rows x 13 columns]

In [ ]:
# check distict values
score0['id'].nunique()

22717

In [ ]:
# export scores dataset
score0.to_csv('/content/drive/My Drive/CIS550_Project/Data/score0.csv', index=False)

## Hawaii Reviews Dataset

In [ ]:
# load Hawaii_reviews dataset
reviews0 = pd.read_csv("/content/drive/My Drive/CIS550_Project/Data/Airbnb_Hawaii/Hawaii_reviews.csv")

In [ ]:
reviews0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595152 entries, 0 to 595151
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     595152 non-null  int64
 1   id             595152 non-null  int64
 2   date           595152 non-null  object
 3   reviewer_id    595152 non-null  int64
 4   reviewer_name  595152 non-null  object
 5   comments       594903 non-null  object
dtypes: int64(3), object(3)
memory usage: 27.2+ MB

In [ ]:
reviews0.head()

   listing_id  ...                                           comments
0        5065  ...  The place was difficult to find and communicat...
1        5065  ...  Wayne was very friendly and his place is sweet...
2        5065  ...  We loved our time at this BnB! Beautiful surro...
3        5065  ...  The organisation was very uncomplicated,\r\nwe...
4        5065  ...  Place was great for what we wanted. Be ready t...

[5 rows x 6 columns]

In [ ]:
# check distict values
reviews0['id'].nunique()

595152

In [ ]:
# check distict values
reviews0.groupby(['AirlineID', 'SourceAirportID', 'DestinationAirportID']).ngroups

In [ ]:
# check missing values
missing_reviews = reviews0.isnull().sum(axis = 0).reset_index()
missing_reviews.columns = ['variable', 'missing values']
missing_reviews['missing%'] = missing_reviews['missing values'] / reviews0.shape[0] * 100
missing_reviews_srt = missing_reviews.sort_values('missing%', ascending = False).reset_index(drop = True)
missing_reviews_srt[missing_reviews_srt['missing%'] > 0]

   variable  missing values  missing%
0  comments             249  0.041838

In [ ]:
reviews0 = reviews0[~reviews0.isnull()]
reviews0['comments'] = reviews0['comments'].apply(lambda x: str(x).strip('\n').replace("\r","").replace("\n","")[:100])

In [ ]:
reviews0['comments'].iloc[3]

In [ ]:
# export reviews dataset
reviews0.to_csv('/content/drive/My Drive/CIS550_Project/Data/reviews0.csv', index=False, line_terminator='\n')

## Hawaii Calendar Dataset

In [ ]:
# load Hawaii_calendar dataset
calendar0 = pd.read_csv("/content/drive/My Drive/CIS550_Project/Data/Airbnb_Hawaii/Hawaii_calendar.csv")

In [ ]:
calendar0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8292104 entries, 0 to 8292103
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 442.8+ MB

In [ ]:
calendar0.head()

   listing_id        date  ... minimum_nights maximum_nights
0       18465  2020-08-31  ...           14.0          365.0
1        5065  2020-09-02  ...            2.0          700.0
2        5065  2020-09-03  ...            2.0          700.0
3        5065  2020-09-04  ...            2.0          700.0
4        5065  2020-09-05  ...            2.0          700.0

[5 rows x 7 columns]

In [ ]:
# check distict values
calendar0.groupby(['listing_id', 'date']).ngroups

8292104

In [ ]:
# check missing values
missing_calendar = calendar0.isnull().sum(axis = 0).reset_index()
missing_calendar.columns = ['variable', 'missing values']
missing_calendar['missing%'] = missing_calendar['missing values'] / calendar0.shape[0] * 100
missing_calendar_srt = missing_calendar.sort_values('missing%', ascending = False).reset_index(drop = True)
missing_calendar_srt[missing_calendar_srt['missing%'] > 0]

         variable  missing values  missing%
0  minimum_nights             393  0.004739
1  maximum_nights             393  0.004739

In [ ]:
# remove missing values
calendar0 = calendar0[~calendar0.isnull()]
calendar0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8292104 entries, 0 to 8292103
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 442.8+ MB

In [ ]:
# apply strPrice_to_numPrice function over monetary features
monetary_cols = ['price', 
                 'adjusted_price']
calendar1 = calendar0.copy()
for col in monetary_cols:
  calendar1[col] = calendar1[col].apply(strPrice_to_numPrice)
calendar1.head()

   listing_id        date  ... minimum_nights  maximum_nights
0       18465  2020-08-31  ...           14.0           365.0
1        5065  2020-09-02  ...            2.0           700.0
2        5065  2020-09-03  ...            2.0           700.0
3        5065  2020-09-04  ...            2.0           700.0
4        5065  2020-09-05  ...            2.0           700.0

[5 rows x 7 columns]

In [ ]:
# export reviews dataset
calendar1.to_csv('/content/drive/My Drive/CIS550_Project/Data/calendar1.csv', index=False, line_terminator='\n')

## Hawaii Neighbourhoods Dataset

In [ ]:
# load Hawaii_neighbourhoods dataset
neighbourhoods0 = pd.read_csv("/content/drive/My Drive/CIS550_Project/Data/Airbnb_Hawaii/Hawaii_neighbourhoods.csv")

In [ ]:
neighbourhoods0

   neighbourhood_group          neighbourhood  latitude  longitude
0               Hawaii                Hamakua     19.34    -155.30
1               Hawaii                    Kau     19.34    -155.30
2               Hawaii             North Hilo     19.34    -155.30
3               Hawaii           North Kohala     19.34    -155.30
4               Hawaii             North Kona     19.34    -155.30
5               Hawaii                   Puna     19.34    -155.30
6               Hawaii             South Hilo     19.34    -155.30
7               Hawaii           South Kohala     19.34    -155.30
8               Hawaii             South Kona     19.34    -155.30
9             Honolulu           Central Oahu     21.28    -157.59
10            Honolulu          East Honolulu     21.28    -157.59
11            Honolulu                    Ewa     21.28    -157.59
12            Honolulu              Koolauloa     21.28    -157.59
13            Honolulu             Koolaupoko     21.28    -157.59
14            Honolulu       North Shore Oahu     21.28    -157.59
15            Honolulu   Primary Urban Center     21.28    -157.59
16            Honolulu                Waianae     21.28    -157.59
17               Kauai        Hanapepe-Eleele     22.05    -159.30
18               Kauai           Kapaa-Wailua     22.05    -159.30
19               Kauai            Koloa-Poipu     22.05    -159.30
20               Kauai                  Lihue     22.05    -159.30
21               Kauai      North Shore Kauai     22.05    -159.30
22               Kauai          Waimea-Kekaha     22.05    -159.30
23                Maui                   Hana     20.48    -156.20
24                Maui              Kahoolawe     20.48    -156.20
25                Maui           Kihei-Makena     20.48    -156.20
26                Maui                Lahaina     20.48    -156.20
27                Maui                  Lanai     20.48    -156.20
28                Maui  Makawao-Pukalani-Kula     20.48    -156.20
29                Maui                Molokai     20.48    -156.20
30                Maui             Paia-Haiku     20.48    -156.20
31                Maui        Wailuku-Kahului     20.48    -156.20

In [ ]:
# load Hawaii_neighbourhoods dataset
geo0 = pd.read_json("/content/drive/My Drive/CIS550_Project/Data/Airbnb_Hawaii/neighbourhoods.geojson")

In [ ]:
geo0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      34 non-null     object
 1   features  34 non-null     object
dtypes: object(2)
memory usage: 672.0+ bytes

In [ ]:
geo0.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...

# Data Wrangling

# Data Description

In [ ]:
# describle listings_summary
listings_summary0[['price', 'availability_365']].describe().style.format({'price' : '{:.2f}', 'availability_365' : '{:.2f}'})

In [ ]:
# group listings by neighbourhood_group
listingsBy0 = listings_summary0.groupby("neighbourhood_group")

In [ ]:
listingsBy0.first()

                        id  ... availability_365
neighbourhood_group         ...
Hawaii                5065  ...              365
Honolulu             13523  ...              345
Kauai                 5390  ...              119
Maui                  7896  ...              344

[4 rows x 15 columns]

In [ ]:
listingsBy1 = listingsBy0.agg({'id':'size', 'price':['mean'], 'availability_365':['mean']}).reset_index()
listingsBy1.columns = ['County', 'Count_of_Listing', 'Mean_Price', 'Mean_Available_Days']
listingsBy1.style.format({'Mean_Price' : '{:.2f}', 'Mean_Available_Days' : '{:.2f}'})